*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  font-size: 62.5%;

  --bg-primery: #FFFFFF;
  --bg-cards: hsla(240, 9%, 89%, 1);
  --bg-select-button: hsla(194, 97%, 31%, 1);
  --ct-text: hsla(240, 6%, 21%, 1);
  --cf-svg: #323238;
  --cf-select-svg: #FFFFFF;

  --ff-font: 'Roboto', sans-serif; 
}

.dark{
  --bg-primery: hsla(240, 5%, 7%, 1);
  --bg-cards: #29292E;
  --bg-select-button: #0A3442;
  --ct-text: #FFFFFF; 
  --cf-svg: #C4C4CC;
}

body{
  background: var(--bg-primery);
}

main{
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.timer{
  width: 32,1rem;
  height: 21,3rem;
}
.clock{
  margin-bottom: 1.7rem;
}

h1 span{
  color: var(--ct-text);
}

.buttons{
  display: flex;
  justify-content: space-around;
  height: 4.8rem;
  gap: 4rem;
  
}
.buttons button {
  border: none;
  object-fit: cover;
}
.buttons button:hover{
  cursor: pointer;
}

.buttons button svg path{
  fill: var(--cf-svg);
}


.clock h1{
  font-family: var(--ff-font);
  font-weight: 500;

  font-size: 12.6rem;
  line-height: 14.8rem;
}

button{
  background: var(--bg-primery);
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;

  max-width: 30.8rem;
  height: 33.6rem;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;

 
  border: none;
  border-radius: 2.4rem;

  width: 13.8rem ;
  height: 15.2rem;
  background: var(--bg-cards);

}

.card svg path{
  fill: var(--cf-svg);
}

.card-image{
  width: 13.8rem;
  padding-top: 2.4rem;
  padding-bottom: 3.2rem;
}

.card-image:hover{
  cursor: pointer;
}

.selectCard{
  background: var(--bg-select-button);
}

.selectCard svg path{
  fill: var(--cf-select-svg);
}

.selectCard .volume-control[type="range"]{
  background: var(--cf-select-svg);
}
.selectCard .volume-control[type="range"]::-webkit-slider-thumb{
  background-color: var(--cf-select-svg);
}


.viewMode{
  position: absolute;
  right: 6rem;
  top: 6rem;
  border: none;
}

.hidden{
  display: none;
}

.volume-control{
  width: 9rem;
  outline: 4rem;
}
.volume-control:hover{
  cursor: pointer;
}

.volume-control[type="range"] {
  appearance: none;

  height: 4px;

  background: var(--cf-svg);
  border-radius: 5px;
}
.volume-control[type="range"]::-webkit-slider-thumb{
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: var(--cf-svg);
}




@media (max-width: 767px){
  /* Arrumar o text height e os cards */
  main{
    display: flex;
    flex-direction: column;
  }
  .timer{
    margin-bottom: 3.2rem;
  }
  .h1{
    display: flex;
    flex-wrap: wrap; 
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
  }

  .viewMode{
    right: 1rem;
    top: 1rem;
  }
}